<link href="/static/main.css" rel="stylesheet">

<div style="padding-left:20px">
{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

{{#if student}}
<div>
    <h1>Edit Student Information</h1>
    <form action="edit" method="POST">
        Name: <input type="text" name="firstname" value="{{student.firstname}}">
              <input type="text" name="lastname" value="{{student.lastname}}"> <br>
        Student ID: <input type="text" name="studentid" value="{{student.studentid}}"> <br>
        Email: <input type="email" name="studentemail" value="{{student.email}}"> <br><br>
        <button type="submit" value="update"> Update </button>
        <br><br>
    </form>
    <form action="/class/{{classID}}/section/{{sectionID}}/student" method="GET">
            <button type="submit" value="cancel"> Cancel </button>
    </form>
</div>
{{/if}}

{{#if class}}
<div>
    <h1>Edit Class Information</h1>
    <form action="edit" method="POST">
        Class Name: <input type="text" name="classname" value="{{class.name}}"> <br>
        Other Instructors: <input type="text" name="instructors" value="{{class.instructors}}"> <br>
        <button type="submit" value="update"> Update </button>
    </form>
    <form action="/" method="GET">
            <button type="submit" value="cancel"> Cancel </button>
    </form>
</div>
{{/if}}

{{#if section}}
<div>
    <h1>Edit Section Information</h1>
    <form action="edit" method="POST">
        Section Name: <input type="text" name="sName" value="{{section.name}}"> <br>
        Instructor: <input type="text" name="instructor" value="{{instructorEmail}}"> <br>
        <button type="submit" value="update"> Update </button>
    </form>
    <form action="/class/{{classID}}/section" method="GET">
            <button type="submit" value="cancel"> Cancel </button>
    </form>
</div>
{{/if}}

{{#if rubric}}
<div>
    <h1>Edit Rubric</h1>
    <form action="edit" method="POST">
        Assignment Date: <input type="date" name="date" value="{{rubric.assignmentDate}}"> <br>
        Assignment Title: <input type="text" name="title" value="{{rubric.assignmentTitle}}"> <br>
        {{#each rubric.fields}}
            Field Name: <input type="text" name="fieldName" value="{{title}}"> <br>
            <BLOCKQUOTE>
                Field Description: <input type="text" name="fieldDesc" value="{{description}}"> <br>
                Points Possible: <input type="number" name="fieldPts" value="{{pointsPossible}}"> <br>
            </BLOCKQUOTE> <br>
        {{/each}}
        <button type="submit" value="update"> Update </button>
    </form>
    <form action="/class/{{classID}}/section/{{sectionID}}/rubric" method="GET">
            <button type="submit" value="cancel"> Cancel </button>
    </form>
</div>
{{/if}}
</div>