<div style="padding-left:20px">
<h2>Grade Assignment</h2>

<h3><a href="/">Classes</a> > <a href="/class/{{classId}}/section">Sections</a> > <a href="/class/{{classId}}/section/{{sectionId}}/rubric">Rubrics</a> > Grade Assignment</h3>

{{#if students}}
    <form action="/class/{{classId}}/section/{{sectionId}}/rubric/{{rubricId}}/fillOut" method="POST">

        <div style="text-align:center">
            <div style="float: left; text-align: left">
                <h3>Select Student</h3>
                {{#each students}}
                    <label>
                        <input type="radio" name="student" value="{{_id}}" required> {{lastname}}, {{firstname}}<br>
                    </label>
                {{/each}}
            </div>

            <div style="display:inline-block; margin: 0 auto !important; text-align:left;">
                <h3>{{rubric.assignmentTitle}} Rubric</h3>
                    {{#each rubric.fields}}
                    <h4>{{title}}</h4>
                    {{#if description}}
                        {{description}}<br>
                    {{/if}}
                    <input type="number" name="pointsEarned[]" placeholder="0">/{{pointsPossible}}<br>
                {{/each}}
                <h4>Additional Comments</h4>
                <input type="text" name="comments"><br>
                <br>
                <input type="submit" value="Complete">
            </div>
        </div>
    </form>
{{else}}
    Add students to this section in order to grade assignments
    <br>
    <br>
    <form method="GET" action="/class/{{classId}}/section/{{sectionId}}/student">
        <input type="submit" value="Manage Students">
    </form>
{{/if}}
</div>
