<link href="/static/main.css" rel="stylesheet">

<div style="padding-left:20px">
<h1>Grades</h1>
<h3><a href="/">Classes</a> > <a href="/class/{{classId}}/section">Sections</a> > <a href="/class/{{classId}}/section/{{sectId}}/rubric">Rubrics</a> > Grades</h3>
<table id="grades">
    <thead>
        <th>Student</th>
        <th>Final Score</th>
        <th>Total Score</th>
        {{#if sketchyFieldsPlaceholder}}
            {{#each sketchyFieldsPlaceholder}}
                <th>{{name}} Score</th>
            {{/each}}
        {{/if}}
        <th>Additional Comments</th>
    </thead>
    {{#if joinStudentsRubrics}}
        {{#each joinStudentsRubrics}}
            <tr class="studentData">
                <td>{{stu.lastname}}, {{stu.firstname}}</td>
                <td>{{finalScore}} / {{pointsPossible}}</td>
                <td>{{pointsEarnedTotal}} / {{pointsPossible}}</td>
                {{#each fieldScores}}
                    <td>{{tmpEarned}}/{{tmpTotal}}</td>
                {{/each}}
                <td>{{comments}}</td>
            </tr>
        {{/each}}
    {{/if}}
</table>
<br>
<h2>Assignment Overall Statistics</h2>
    {{#if statistics}}
        <p>Median: {{statistics.median}}</p>
        <p>Average: {{statistics.mean}}</p>
        <p>Standard Deviation: {{statistics.stddev}}</p>
        <p>Low: {{statistics.low}}</p>
        <p>High: {{statistics.high}}</p>
        <p>Score Distribution: </p>
            <img src="https://plot.ly/~ardent-day/0.png"> <br>
    {{else}}
        <h4>No grades or stats to display!</h4>
    {{/if}}
 <a href="/class/{{classId}}/section/{{sectId}}/rubric">Back</a>
 <br>
