<h1>Grades</h1>

<table id="grades">
    <thead>
        <th>Student</th>
        <th>Total Score</th>
        {{#if sketchyFieldsPlaceholder}}
            {{#each sketchyFieldsPlaceholder}}
                <th>{{name}} Score</th>
            {{/each}}
        {{/if}}
        <th>Additional Comments</th>
    </thead>
    {{#if joinStudentsRubrics}}
        {{#each joinStudentsRubrics}}
            <tr class="studentData">
                <td>{{stu.lastname}}, {{stu.firstname}}</td>
                <td>{{pointsEarnedTotal}} / {{pointsPossible}}</td>
                {{#each fieldScores}}
                    <td>{{tmpEarned}}/{{tmpTotal}}</td>
                {{/each}}
                <td>{{comments}}</td>
            </tr>
        {{/each}}
    {{/if}}
    </table>