{{#if errors}}
<div>
<ul style="color:red" class="errors">
  {{#each errors}}
    <li>{{this}}</li>
  {{/each}} </ul>
</div>
{{/if}}

{{#if currentUser}}
    <h2 class="welcome">Welcome, {{currentUser.name}}</h2>
    <h3>Your Classes</h3>
    <div>
        <table id="classes">
            <thead>
                <th>Class Name</th>
                <th>Instructors</th>
            </thead>
            {{#if classes}}
                {{#each classes}}
                    <tr class="class">
                        <td>
                            <a href="/class/{{_id}}/sections" class="sections">{{name}}</a>
                        </td>
                        <td>
                            {{#each instructors}}
                                {{this}} <br>
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                No classes yet!
            {{/if}}
        </table>
    </div>
    <hr>
    <div>
        <h4>Register New Class: </h4>
        <form action="/class/create" method="POST" class="createClass">
            Class Name:
            <input type="text" name="className"> <br>
            Other Instructors' Emails:
            <input type="email" name="newInstructor"> <br>
            <!-- FIGURE OUT HOW TO ADD MORE -->
            <input type="submit" value="Add Class!" class="create-class-submit">
        </form>
    </div>
    <hr>
    <footer>
        <a href="/user/logout" class="logout">Logout</a>
    </footer>

{{else}}
<div class="bgimg">
    <br><br><br>
    <h1 style = "font-size: 50px; padding-left:50px; padding-top:100px;"> Make grading fun. </h1>
    <h3 style = "font-size: 40px; padding-left:50px;"><br> <br> Sign up for our free pilot runs today. </h3>
</div>


<br>
<h1 style= "text-align:center;font-size:40px;color=#052340;"> Sign up for a free Gradr account:</h1>
<div>
<form action="/user/register" method="POST" class="register" style= "text-align:center; font-size:30px;">
    Name: <br>
    <input type="text" name="name" class="text-input"> <br> <br>
    Email: <br>
    <input type="text" name="email" class="text-input"> <br> <br>
    Password: <br>
    <input type="password" name="password" class="text-input"> <br> <br>
    Confirm Password: <br>
    <input type="password" name="passwordConfirmation" class="text-input"> <br> <br>
    <input type="submit" value="Register!" class="submit">
</form>
</div>

{{/if}}