{{#if errors}}
<div>
<ul style="color:red" class="errors">
  {{#each errors}}
    <li>{{this}}</li>
  {{/each}} </ul>
</div>
{{/if}}

{{#if currentUser}}
    <h2 class="welcome">Welcome, {{currentUser.name}}!</h2>
    <h3>Classes</h3>
    <div>
        <table id="classes">
            <thead>
                <th>Class Name</th>
                <th>Instructors</th>
            </thead>
            {{#if classes}}
                {{#each classes}}
                    <tr class="class">
                        <td>
                            <a href="/class/{{_id}}/section" class="sections">{{name}}</a>
                        </td>
                        <td>
                            {{#each instructors}}
                                {{this}} <br>
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                No classes yet!
            {{/if}}
        </table>
    </div>
    <hr>
    <div>
        <h4>Register New Class: </h4>
        <form action="/class/create" method="POST" class="createClass">
            Class Name:
            <input type="text" name="className"> <br>
            Other Instructors' Emails:
            <input type="email" name="newInstructor"> <br>
            <!-- FIGURE OUT HOW TO ADD MORE -->
            <input type="submit" value="Add Class!" class="create-class-submit">
        </form>
    </div>
    <hr>

{{else}}
<div class="bgimg">
    <br><br>
    <h1 style = "font-size: 50px; padding-left:50px; padding-top:60px;"> Grading shouldn't hurt. </h1>
    <h3 style = "font-size: 40px; padding-left:50px;"><br> Sign up for a free semester-long trial today. </h3>
    <form action="/user/register" method="POST" class="register" style= "padding-left:50px; font-size:30px;">
    <input type="text" name="name" class="text-input" placeholder="Name"> 
    <input type="text" name="email" class="text-input" placeholder="Email"> <br> <br>
    <input type="password" name="password" class="text-input" placeholder="Password"> 
    <input type="password" name="passwordConfirmation" class="text-input" placeholder="Confirm Password"> <br> <br>
    <input type="submit" value="Register!" class="register">
</form>
</div>

{{/if}}