{{#if errors}}
<div>
<ul style="color:red" class="errors">
  {{#each errors}}
    <li>{{this}}</li>
  {{/each}} </ul>
</div>
{{/if}}
{{#if currentUser}}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/main.css" rel="stylesheet">
    <div style="padding-left:20px">
    <h3>My Classes</h3>
    <div>
        <table id="classes">
            <thead>
                <th>Class Name         </th>
                <th>Instructors</th><th></th>
            </thead>
            {{#if classes}}
                {{#each classes}}
                    <tr class="class">
                        <td>
                            <a href="/class/{{_id}}/section" class="sections">{{name}}</a>
                        </td>
                        <td>
                            {{#each instructors}}
                                {{this}} <br>
                            {{/each}}
                        </td>
                        
                        <td>
                            <div class="container">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Options
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="class/{{_id}}/edit"> Edit </a></li>
                                        <li><a href="class/{{_id}}/delete"> Delete </a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <!--
                        <td>
                            <form action="class/{{_id}}/edit" method="GET">
                                <input type="submit" value="Edit">
                            </form>
                        </td>
                        <td>
                            <form action="class/{{_id}}/delete" method="GET">
                                <input type="submit" value="Leave Class">
                            </form>
                        </td>
                        -->
                    </tr>
                {{/each}}
            {{else}}
                No classes yet!
            {{/if}}
        </table>
    </div>
    <br>
    <div class ="createMenu">
        <h2>Register New Class: </h2>
        <form action="/class/create" method="POST" class="createClass">
            Class Name:
            <input type="text" name="className"> <br>
            Other Instructors' Emails:
            <input type="text" name="instructors"> <br>
            <br>
            <button type="submit" value="Add Class!" class="create-class-submit"> Add Class!</button>
            <br>
            <br>
        </form>
    </div>
    

{{else}}
<div class="bgimg">
    <br><br>
    <h1 style = "font-size: 50px; padding-left:50px; padding-top:60px; color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"> Grading shouldn't hurt. </h1>
    <h3 style = "font-size: 40px; padding-left:50px; color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"><br> Sign up for a free semester-long trial today. </h3>
    <form action="/user/register" method="POST" class="register" style= "padding-left:50px; font-size:30px;">
    <input type="text" name="name" class="text-input" placeholder="Name"> 
    <input type="text" name="email" class="text-input" placeholder="Email"> <br> <br>
    <input type="password" name="password" class="text-input" placeholder="Password"> 
    <input type="password" name="passwordConfirmation" class="text-input" placeholder="Confirm Password"> <br> <br>
    <input type="submit" value="Register!" class="register">
</form>
</div>

{{/if}}
</div>
