<h1>CPSC213 Final Project</h1>
{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

<h2>{{resultClass.name}}</h2>

<h3>Rubrics</h3>

<div>
    <table id="rubrics">
        {{#if rubrics}}
        <thead>
            <th>Assignment Date</th>
            <th>Assignment Name</th>
        </thead>
            {{#each rubrics}}
                <tr class="rubric">
                    <td>{{assignmentDate}}</td>
                    <td>
                        <a href="rubrics/{{_id}}/fillOut" class="sections">{{assignmentTitle}}</a>
                    </td>
                    <td>
                        <form action="rubrics/{{_id}}/delete" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            No rubrics yet!
        {{/if}}
    </table>
</div>
<hr>
    <h3>Create Assignment:</h3>
    <form action="rubrics/create" method="POST">
        Assignment Date: <input type="date" name="date"> <br>
        Assignment Name: <input type="text" name="title"> <br>
        <h4>Configure Rubric:</h4>
        {{#each fields}}
            Field Name: <input type="text" name="fieldNames[]"> Max Points: <input type="number" name="fieldValues[]"><br>
        {{/each}}
        <div>
            <button type="submit" formaction="section/{{resultSection._id}}/rubrics/addField" formmethod="POST">Add Field</button>
            <button type="submit" formaction="section/{{resultSection._id}}/rubrics/removeField" formmethod="POST">Remove Last Field</button>
        </div>
        <br>
        <br>
        <input type="submit" value="Add Assignment">
    </form>
<hr>
<footer>
        <form action="/" method="GET">
            <input type="submit" value="Back to Classes">
        </form>
        <a href="/user/logout" class="logout">Logout</a>
</footer>