<div style="padding-left:20px">
{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<h1>{{resultClass.name}}</h1>

<h2>Rubrics</h2>
<h3><a href="/">Classes</a> > <a href="/class/{{resultClass._id}}/section">Sections</a> > Rubrics</h3>

<div>
    <table id="rubrics">
        {{#if rubrics}}
        <thead>
            <th>Assignment Date</th>
            <th>Assignment Name</th>
            <th> </th> <th> </th> <th> </th> <th> </th>
        </thead>
            {{#each rubrics}}
                <tr class="rubric">
                    <td>{{formatDate assignmentDate day="numeric" month="long" year="numeric"}}</td>
                    <!-- <td>{{assignmentDate}}</td> -->
                    <td>{{assignmentTitle}}</td>

                    <td>
                        <div class="container">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Options
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="rubric/{{_id}}/fillOut"> Grade </a></li>
                                    <li><a href="rubric/{{_id}}/viewScores"> View Scores </a></li>
                                    <li><a href="rubric/{{_id}}/edit"> Edit </a></li>
                                    <li><a href="rubric/{{_id}}/delete"> Delete </a></li>
                                    <li><a href="rubric/{{_id}}/clone"> Clone Rubric </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <!--
                    <td>
                        <form action="rubric/{{_id}}/fillOut" method="GET">
                            <input type="submit" value="Grade">
                        </form>
                    </td>
                    <td>
                        <form action="rubric/{{_id}}/viewScores" method="GET">
                            <input type="submit" value="View Scores">
                        </form>
                    </td>
                    <td>
                        <form action="rubric/{{_id}}/edit" method="GET">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="rubric/{{_id}}/delete" method="GET">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <form action="rubric/{{_id}}/clone" method="GET">
                            <input type="submit" value="Clone Rubric">
                        </form>
                    </td>
                    -->
                </tr>
            {{/each}}
        {{else}}
            No rubrics yet!
        {{/if}}
    </table>
</div>
<br><br>
<div class ="createMenu">
    <h2>Create Point-Based Assignment</h2>
    <form action="rubric/create" method="POST">
        Assignment Date: <input type="date" name="date" value="{{date}}"> <br>
        Assignment Name: <input type="text" name="title" value="{{title}}"> <br>
        <h3>Configure Rubric:</h3>
        {{#each data}}
            Field Name: <input type="text" name="fieldNames[]" value="{{title}}"><br>
            Max Points: <input type="number" name="fieldValues[]" value="{{pointsPossible}}"><br>
            Description: <input type="text" name="fieldDescriptions[]" value="{{description}}"><br>
            <br>
        {{/each}}
        <br>
        <div>
            <button type="submit" formaction="rubric/addField" formmethod="POST">Add Field</button>
            <button type="submit" formaction="rubric/removeField" formmethod="POST">Remove Last Field</button>
        </div>
        <br>
        Create Rubric For: <br>
        <div>
            <label><input type="radio" name="scope" value="wholeClass"> All sections in class</label> <br>
            <label><input type="radio" name="scope" value="thisSection"> Just this section</label><br>
        </div>
        <br>
        <button type="submit" value="Add Assignment">Add Assignment</button>
        <br><br>
    </form>
</div>

<div class ="createMenu">
    <h2>Create Standards-Based Assignment</h2>
    <form action="rubric/create" method="POST">
        Assignment Date: <input type="date" name="date" value="{{date}}"> <br>
        Assignment Name: <input type="text" name="title" value="{{title}}"> <br>
        <h3>Configure Rubric:</h3>
        {{#each data}}
            Field Name: <input type="text" name="fieldNames[]" value="{{title}}"><br>
            Max Points: <input type="number" name="fieldValues[]" value="{{pointsPossible}}"><br>
            Description: <input type="text" name="fieldDescriptions[]" value="{{description}}"><br>
            <br>
        {{/each}}
        <br>
        <div>
            <button type="submit" formaction="rubric/addField" formmethod="POST">Add Field</button>
            <button type="submit" formaction="rubric/removeField" formmethod="POST">Remove Last Field</button>
        </div>
        <br>
        Create Rubric For: <br>
        <div>
            <label><input type="radio" name="scope" value="wholeClass"> All sections in class</label> <br>
            <label><input type="radio" name="scope" value="thisSection"> Just this section</label><br>
        </div>
        <br>
        <button type="submit" value="Add Assignment">Add Assignment</button>
        <br><br>
    </form>
</div>

<br>
 <a href="/class/{{resultClass._id}}/section">Back</a>
 <br>
</div>