{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

<h1>{{resultClass.name}}</h1>

<<<<<<< HEAD
<h2>Rubrics</h2>
=======
<h3><a href="/">Classes</a> > <a href="/class/{{resultClass._id}}/section">Sections</a> > Rubrics</h3>
>>>>>>> 618e2e9524e771ee1a56e49dee557aae6742b7ff

<div>
    <table id="rubrics">
        {{#if rubrics}}
        <thead>
            <th>Assignment Date</th>
            <th>Assignment Name</th>
            <th> </th>
        </thead>
            {{#each rubrics}}
                <tr class="rubric">
                    <td>{{assignmentDate}}</td>
                    <td>
                        <a href="rubric/{{_id}}/fillOut" class="sections">{{assignmentTitle}}</a>
                    </td>
                    <td>
                        <form action="rubric/{{_id}}/delete" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            No rubrics yet!
        {{/if}}
    </table>
</div>
<br><br>
<div class ="createMenu">
    <h2>Create Assignment</h2>
    <form action="rubric/create" method="POST">
        Assignment Date: <input type="date" name="date"> <br>
        Assignment Name: <input type="text" name="title"> <br>
        <h3>Configure Rubric:</h3>
        {{#each fields}}
            Field Name: <input type="text" name="fieldNames[]"> <br>Max Points: <input type="number" name="fieldValues[]"><br>
        {{/each}}
        <br>
        <div>
            <button type="submit" formaction="rubric/addField" formmethod="POST">Add Field</button>
            <button type="submit" formaction="rubric/removeField" formmethod="POST">Remove Last Field</button>
        </div>
        <br>
        <button type="submit" value="Add Assignment">Add Assignment</button>
    </form>
</div>