
<div style="padding-left:20px">
{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="/static/main.css" rel="stylesheet">

<h1>{{resultClass.name}}</h1>

<h2>Sections</h2>
<h3><a href = "/">Classes</a> > Sections</h3>

<div>
    <table id="sections">
        {{#if sections}}
        <thead>
            <th>Name</th>
            <th>Instructor</th>
            <th> </th><th> </th><th> </th>
                <th> </th>
        </thead>
            {{#each sections}}
                <tr class="sections">
                    <td>{{name}}</td>
                    <td>{{instructor}}</td>

                    <td>
                        <div class="container">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Options
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="section/{{_id}}/student"> Manage Students </a></li>
                                    <li><a href="section/{{this._id}}/rubric"> Manage Assignments </a></li>
                                    <li><a href="section/{{_id}}/edit"> Edit </a></li>
                                    <li><a href="section/{{_id}}/delete"> Delete </a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <!--
                    <td>
                        <form action="section/{{_id}}/student" method="GET">
                            <input type="submit" value="Manage Students">
                        </form>
                    </td>
                    <td>
                        <form action="section/{{this._id}}/rubric" method="GET">
                            <input type="submit" value="Manage Assignments">
                        </form>
                    </td>
                    <td>
                        <form action="section/{{_id}}/edit" method="GET">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="section/{{_id}}/delete" method="GET">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    -->
                </tr>
            {{/each}}
        {{else}}
            No Sections yet!
        {{/if}}
    </table>
</div>
<br>
<div class = "createMenu">
    <form action="section/create" method="POST">
    <h3>Add Section</h3>
        Name: <input type="text" name="name"> <br>
        Instructor Email: <input type="email" name="instructor">
        <br><br>
        <button type="submit" value="Add"> Add </button>
    </form>
    <br>
</div>
<br>
<a href="/">Back</a>
 <br>
</div>