<div style="padding-left:20px">
{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

<h1>{{resultClass.name}}</h1>

<h2>Sections</h2>
<h3><a href = "/">Classes</a> > Sections</h3>

<div>
    <table id="sections">
        {{#if sections}}
        <thead>
            <th>Name</th>
            <th>Instructor</th>
            <th> </th>
                <th> </th>
        </thead>
            {{#each sections}}
                <tr class="sections">
                    <td>{{name}}</td>
                    <td>{{instructor}}</td>
                    <td>
                        <form action="section/{{_id}}/student" method="GET">
                            <input type="submit" value="Manage Students">
                        </form>
                    </td>
                    <td>
                        <form action="section/{{this._id}}/rubric" method="GET">
                            <input type="submit" value="Manage Assignments">
                        </form>
                    </td>
                    <td>
                        <form action="section/{{_id}}/edit" method="GET">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="section/{{_id}}/delete" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            No Sections yet!
        {{/if}}
    </table>
</div>
<br>
<div class = "createMenu">
    <form action="section/create" method="POST">
    <h3>Add Section</h3>
        Name: <input type="text" name="name"> <br>
        Instructor Email: <input type="email" name="instructor">
        <br><br>
        <button type="submit" value="Add"> Add </button>
    </form>
    <br>
</div>
</div>