<h1>CPSC213 Final Project</h1>
{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

<h2>{{resultClass.name}}</h2>

<h3>Sections</h3>

<div>
    <table id="sections">
        {{#if sections}}
        <thead>
            <th>Name</th>
            <th>Instructor</th>
        </thead>
            {{#each sections}}
                <tr class="sections">
                    <td>
                        <a href="section/{{this._id}}/rubric" class="sections">{{name}}</a>
                    </td>
                    <td>{{instructor}}</td>
                    <td>
                        <form action="section/{{_id}}/student" method="GET">
                            <input type="submit" value="Manage Students">
                        </form>
                    </td>
                    <td>
                        <form action="section/{{_id}}/delete" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            No Sections yet!
        {{/if}}
    </table>
</div>
<hr>
    <form action="section/create" method="POST">
    <h3>Add Section</h3>
        Name: <input type="text" name="name"> <br>
        Instructor Email: <input type="email" name="instructor">
        <input type="submit" value="Add">
    </form>
<hr>
<footer>
        <form action="/" method="GET">
            <input type="submit" value="Back to Classes">
        </form>
        <a href="/user/logout" class="logout">Logout</a>
</footer>