{{#if errors}}
<div>
<ul style="color:red" class="errors">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}} </ul>
</div>
{{/if}}

<h1>{{currentSection.name}}</h1>

<h2>Students</h2>

<div>
    <table id="students">
        {{#if students}}
        <thead>
            <th>Last, First</th>
            <th>ID</th>
            <th>Email</th>
        </thead>
            {{#each students}}
                <tr class="students">
                    <td>
                        {{lastname}}, {{firstname}}
                    </td>
                    <td>{{studentid}}</td>
                    <td>{{email}}</td>
                    <td>
                        <form action="student/{{studentid}}/edit" method="GET">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="student/{{studentid}}/delete" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            No Students yet!
        {{/if}}
    </table>
</div>
<hr>
    <h3>Input Student Information</h3>
    <form action="student/create" method="POST">
        Name: <input type="text" name="firstname" placeholder="First">
              <input type="text" name="lastname" placeholder="Last"> <br>
        Student ID: <input type="text" name="studentid"> <br>
        Email: <input type="email" name="studentemail">
        <input type="submit" value="Add Student">
    </form>
<hr>
<footer>
        <form action="/class/{{classId}}/section" method="GET">
            <input type="submit" value="Back to Sections">
        </form>
        <a href="/user/logout" class="logout">Logout</a>
</footer>